{% extends "bootstrap/base.html" %}

{% block content %}
    <h1>Invoice</h1>
    <form method={{ method_ }} action={{ url }}>
        Value1: <input name="lang" value="{{ data['lang'] }}" disabled/><br>
        Value2: <input name="m_curorderid" value="{{ data['m_curorderid'] }}" /><br>
        Value3: <input name="m_historyid" value="{{ data['m_historyid'] }}" /><br>
        Value4: <input name="m_historytm" value="{{ data['m_historytm'] }}" /><br>
        Value5: <input name="referer" value="{{ data['referer'] }}" /><br><br>
        <input type="submit"/>
    </form>
{% endblock %}
